{{#each this}}
        <li class="js-item" id="{{id}}">
           <h1>Title: {{title}}</h1>
           <p>Director: {{director}}</p>
           <p>Genre: {{genre}}</p>
           <p>Year: {{year}}</p>
        </li>
{{/each}}